
*
{
	margin:0;
	padding:0;
	
}
#produzido_por {
	
	
	position:relative;
	width:100%;
	height:20px;
	background-color:#DCDCDCD;
}

header {
	position:relative;
	width:18%;
	height:100%;
		top:0;
	left:15;
	text-align:center;
}
header a {
	text-decoration:none;
	color:#fff;
	display:block;
	padding:15px 20px;
	margin:20px 30px;
	border:1px solid #fff;
	border-radius:8px;
}

header a:hover {
	background-color: #fff;
	color:#777;
	box-shadow: 0 2px 3px #777
}

.Sala{
	
transition: .5s;
	
	
	
	
	
	
	
